<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>Index page</h1>
{% if session.user_email %}
    <h2>You're logged in.</h2>
    {{ session.user_email }}
    <a href="/logout">Logout</a>
    <a href="/test">Test</a>
{% else %}
    <a href="/login">Login</a>
{% endif %}
</body>
</html>